<div class="container mt-3">
  <h2 class="text-center text-my-yellow mb-5">Here are your favorite recipes</h2>

  <% if @favorites.any? %>
    <div class="row gy-4">
      <% @favorites.each do |favorite| %>
        <div class="col-12">
          <div class="card border-0 shadow-lg rounded-lg">

            <a href="<%= recipe_path(favorite.recipe) %>">
              <% if favorite.recipe.image.present? %>
                <img src="<%= favorite.recipe.image %>" alt="<%= favorite.recipe.name %>" class="card-img-top rounded-top img-fluid" />
              <% else %>
                <img src="https://via.placeholder.com/400" alt="Recipe image" class="card-img-top rounded-top img-fluid" />
              <% end %>
            </a>

            <div class="card-body text-center bg-my-dark-blue text-white p-4 rounded-bottom">

              <h5 class="card-title text-my-yellow mb-3"><%= favorite.recipe.name %></h5>

              <p class="card-text text-center mb-2">
                <strong>Cooking Time:</strong> <%= favorite.recipe.cooking_time %> minutes
              </p>

              <p class="card-text text-center mb-2">
                <strong>Rating:</strong>
                <% rating = favorite.recipe.rating.to_i %>
                <% 5.times do |i| %>
                  <% if i < rating %>
                    <i class="fas fa-star text-warning"></i>
                  <% else %>
                    <i class="far fa-star text-warning"></i>
                  <% end %>
                <% end %>
              </p>

              <%= button_to 'Remove from Favorites', recipe_favorite_path(favorite.recipe, favorite), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm w-100' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="text-center mt-5">
      <p class="text-muted">You have no favorite recipes yet.</p>
    </div>
  <% end %>
</div>
