<% if @user.present? %>
  <!-- Turbo Stream to listen for updates to the user's profile -->
  <%= turbo_stream_from "profile_#{@user.id}" %>

  <div class="container my-4">
    <h1 class="text-white">Profile</h1>
    <!-- Profile Card -->
    <div class="mt-4 mb-4" style="min-height: 500px;"> <!-- Set min-height for consistency -->
      <div class="d-flex flex-column justify-content-between">
        <div class="d-flex flex-column align-items-center mb-4">
          <!-- Check if user has a profile picture -->
          <div class="mb-3">
            <% if @user.profile_picture.attached? %>
              <%= image_tag @user.profile_picture.url, alt: "Profile Picture", class: "rounded-circle profile-pic", width: "200", height: "200" %>
            <% else %>
              <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/7/7c/Profile_avatar_placeholder_large.png?20150327203541", alt: "Default Avatar", class: "rounded-circle profile-pic", width: "200" %>
            <% end %>
          </div>

          <h5 class="card-title text-white mb-5">
            <%= @user.first_name %> <%= @user.last_name %>
          </h5>

          <p class="text-white mb-2 text-left w-100">Email:</p> <!-- Reduced margin-bottom further -->
          <p class="text-white mb-0 text-left w-100"><%= @user.email %></p>
        </div>

        <!-- "Edit Profile" Button -->
        <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary btn-lg rounded-pill shadow-sm mb-3' %>

        <!-- "Logout" Button -->
        <%= form_with url: destroy_user_session_path, method: :delete do %>
          <%= submit_tag 'Logout', class: "btn btn-outline-primary btn-lg rounded-pill shadow-sm text-black bg-white w-100" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div id="error_message"></div>
