<%= turbo_stream_from "profile_#{@user.id}" %>

<div class="container">
  <h1>Your Profile</h1>

  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <%= link_to 'My Profile', user_path(@user), class: 'btn btn-secondary' %>

  <div class="card mt-4">
    <div class="card-body">
      <h5 class="card-title">Username: <%= @user.first_name %> <%= @user.last_name %></h5>
      <p>Profile Picture:</p>
      <%= image_tag @user.profile_picture.url, class: "profile-pic" if @user.profile_picture.attached? %>
      <p><%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %></p>
    </div>
  </div>
</div>
