<div class="container vh-100 d-flex flex-column justify-content-center">
  <div class="row">
    <div class="col-12">
      <div class="text-center mb-5 p-4 rounded shadow-sm title-container">
        <h1 class="display-5 fw-bold text-white">Forgot your password?</h1>
      </div>

      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'needs-validation', novalidate: true }) do |f| %>
        <%= f.error_notification %>

        <div class="mb-3">
          <%= f.input :email, 
                      required: true, 
                      autofocus: true, 
                      label: false, 
                      placeholder: "Email address", 
                      input_html: { 
                        class: 'form-control form-control-lg', 
                        autocomplete: "email", 
                        placeholder: "Email address" 
                      } %>
        </div>

        <div class="d-grid">
          <%= f.button :submit, 
                       "Send me reset password instructions", 
                       class: "btn btn-primary btn-lg rounded-pill shadow-sm" %>
        </div>
      <% end %>

      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>