<!DOCTYPE html>
<html>
  <head>
    <title>MatchMeal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless (controller_name == "sessions" && (action_name == "new" || action_name == "create")) || (controller_name == "passwords" && action_name == "new") || (controller_name == "registrations" && (action_name == "new" || action_name == "create")) %>
      <%= render "shared/navbar" %>
    <% end %>
    <%= render "shared/flashes" %>

    <%= yield %>
  </body>
</html>
